<body>
  <ol>
    <li class="row">
      <a href="/item">
      <h4 class="title">
          thread 1
      </h4>
      <div class="bottom">
        <p class="timestamp">
            10/10/2021
        </p>
        <p class="comment-count">
            comments
        </p>
      </div>
      </a>
    </li>
    <li class="row">
      <a href="/item">
      <h4 class="title">
          thread 2
      </h4>
      <div class="bottom">
        <p class="timestamp">
            10/10/2021
        </p>
        <p class="comment-count">
            comments
        </p>
      </div>
      </a>
    </li>
  </ol>
</body>
