<body>
  <div class="top-bar">
    <h1>My forum</h1>
  </div>
  <div class="header">
  <h4 class="title">
    thread 1
</h4>
<div class="bottom">
  <p class="timestamp">
      10/10/2021
  </p>
  <p class="comment-count">
      comments
  </p>
</div>
</a>
</li>
<li class="row">
<a href="/item">
<h4 class="title">
    thread 2
</h4>
<div class="bottom">
  <p class="timestamp">
      10/10/2021
  </p>
  <p class="comment-count">
      comments
  </p>
  </div>
</div>
<textarea></textarea>
<button>add comment</button>
<div class="comments">
  <div class="comment">
    <div class="top-comment">
    <p class="user">
      Jackie Chan
    </p>
    <p class="timestamp">
      06/17/2021
    </p>
      </div>
      <div class="comment-content">
        comment text here
      </div>
    </div>
  </div>
</body>
const navbar = document.querySelector('navbar');
let menuOpen = false;
navbar.addEventListener('click', () => {
  if (!menuOpen){
    navbar.classList.add('open');
    menuOpen = true;
  }else{
    navbar.classList.remove('open')
    menuOpen = false;
  }
})

function urlAddEventListeners() {
  document
    .getElementById("forumButton")
    .addEventListener("click", () => getPOST());
}
function getPOST() {
  let target = document.getElementById("totalSchema").value;
  fetch(`https://getangrip.herokuapp.com/forum`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ ForumContent: target }, null, 1)
  })
    .then(res => res.json())
    .then(res => {console.log('post is a success')}

    );
  }
